body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:icon;
}
.password-container{
    background-color: rgba(236, 9, 9, 0.61);
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #131212;
   margin: 10px;
}
.input-container{
    border: solid 3px rgb(236, 233, 8);
    padding: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start
}
.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    letter-spacing: normal 2px;;
}
.input::placeholder {
    letter-spacing: 2px;
  }
  .fa-copy{
    cursor:copy;
    opacity: 0.6;
  }
  .fa-copy:hover {
    opacity: 0.9;
  }



  .btn {
    background: black;
    color: rgb(228, 231, 15);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
    
}
  
  .btn:hover {
    background-color: rgb(236, 9, 9);
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .alert-container {
    position: fixed;
    width: 300px;
    height: 75px;
    background-color: lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  .active.alert-container {
    right: -300px;
  }